@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  min-width: 1240px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.navigation {
  background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 40px, #FFE17F 40px, #FFE17F 100%);
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 27px;
  position: relative;
}

.navigation__container {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.logo {
  display: block;
}

.navigation__logo {
  margin-bottom: 30px;
}

.popover {
  display: none;
}

.navigation__popover-container {
  display: none;
  /* display: flex; */
  position: absolute;
  width: 1160px;
  background-color: #FFE17F;
  top: 100%;
  left: 0;
  padding: 0 60px 27px 60px;
  z-index: 3;
}

.navigation__popover-container::before {
  content: "";
  display: block;
  width: 1160px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -29px;
}

.navigation__item--popover:hover .navigation__popover-container {
  display: flex;
}

.navigation__popover-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 60px;
}

.navigation__popover-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation__popover-item {
  margin-bottom: 15px;
}

.navigation__item--popover > a {
  position: relative;
  padding-right: 70px;
}

.navigation__item--popover > a::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  right: 0;
  top: 0;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.navigation__item--popover:hover > a::before {
  opacity: 1;
  background-image: url("../images/minus.svg");
}

.navigation__user-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation__user-item {
  margin-left: 18px;
}

.navigation__user-list--log-in {
  margin-right: auto;
}

.navigation__user-list a {
  color: #000000;
  text-decoration: none;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation__item {
  margin-right: 49px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item--popover {
  margin-right: auto;
}

.form__search {
  width: 359px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
}

.form__btn-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  padding: 8px 54px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  border-left: none;
}

.form {
  display: flex;
}

.navigation__item > a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Слайдер */

.slider__wrapper {
  counter-reset: number;
  list-style: none;
}

.slider__item::before {
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  position: absolute;
}

.slider__item {
  display: none;
  position: relative;
}

.slider__item--active {
  display: block;
}

.popular {
  display: flex;
  background-image: linear-gradient(to bottom, #FFE17F 0, #FFE17F 135px, #ffffff 135px, #ffffff 100%);
}

.popular__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.popular__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.popular__table td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.popular__table th {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.slider__wrapper {
  padding-left: 0;
  margin: 0;
}
