@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-yellow:#FFE17F;
  --color-purple: #AF4FFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  min-width: 1240px;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.navigation {
  background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 40px, #FFE17F 40px, #FFE17F 100%);
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 60px;
  position: relative;
}

.navigation__container {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.logo {
  display: block;
}

.navigation__logo {
  margin-bottom: 21px;
}

.popover {
  display: none;
}

.navigation__popover-container {
  display: none;
  /* display: flex; */
  position: absolute;
  width: 1160px;
  background-color: #FFE17F;
  top: 100%;
  left: 0;
  padding: 0 60px 27px 60px;
  z-index: 10;
}

.navigation__popover-container::before {
  content: "";
  display: block;
  width: 1160px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -29px;
}

.navigation__item--popover:hover .navigation__popover-container {
  display: flex;
}

.navigation__popover-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 60px;
}

.navigation__popover-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation__popover-item {
  margin-bottom: 15px;
}

.navigation__item--popover > a {
  position: relative;
  padding-right: 70px;
}

.navigation__item--popover > a::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  right: 0;
  top: 0;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.navigation__item--popover:hover > a::before {
  opacity: 1;
  background-image: url("../images/minus.svg");
}

.navigation__user-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation__user-item {
  margin-left: 18px;
}

.navigation__user-item--log-in {
  margin-left: 27px;
}

.navigation__user-item a {
  position: relative;
  padding-left: 26px;
}

.navigation__user-item--graph a {
  padding-left: 24px;
}

.navigation__user-item a::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  top: 5px;
  left: 0;
  background-position: center;
}

.navigation__user-item--log-in a::before {
  background-image: url("../images/log-in.svg");
}

.navigation__user-item--graph a::before {
  background-image: url("../images/graph.svg");
}

.navigation__user-item--cart a::before {
  background-image: url("../images/cart.svg");
  width: 16px;
  height: 14px;
  top: 3px;
  left: 15px;
}

.navigation__user-item--cart a {
  padding-left: 43px;
}

.navigation__number {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  top: 0px;
  left: 0px;
  text-align: center;
  padding-top: 2px;
  font-size: 14px;
  line-height: 17px;
}

.navigation__user-list--log-in {
  margin-right: auto;
}

.navigation__user-list a {
  color: #000000;
  text-decoration: none;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation__item {
  margin-right: 46px;
}

.navigation__item:last-child {
  margin-right: -4px;
}

.navigation__item--popover {
  margin-right: auto;
}

.form__search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 48px;
  padding-right: 20px;
  width: 359px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: left 14px top 10px;
}

.form__search:focus {
  outline: none;
}

.form__btn-search {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  padding: 8px 54px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  border-left: none;
}

.form {
  display: flex;
}

.navigation__item > a {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__input-wrapper:focus-within {
  outline: 2px solid var(--color-purple);
}
/* Слайдер */

.slider__wrapper {
  counter-reset: number;
  list-style: none;
}

.slider__item::before {
  content: counter(number, decimal-leading-zero);
  counter-increment: number;
  position: absolute;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  top: 0;
  right: 0;
  z-index: 1;
}

.slider__item {
  display: none;
  position: relative;
}

.slider__item--active {
  display: block;
}

.popular {
  position: relative;
  display: flex;
  background-image: linear-gradient(to bottom, #FFE17F 0, #FFE17F 135px, #ffffff 135px, #ffffff 100%);
}

.popular__content {
  position: relative;
  z-index: 2;
  padding-top: 55px;
}

.popular__title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* .popular__link {

} */

.popular__table td {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.popular__table th {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.slider__wrapper {
  padding-left: 0;
  margin: 0;
}

.slider__container {
  position: relative;
}

.slider__arrow {
  width: 20px;
  height: 60px;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 211px;
}

.slider__arrow::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 60px;
  background-image: url("../images/arrow-slider.svg");
  display: block;
  top: 0;
  left: 0;
}

.slider__arrow--prev::before {
  transform: scale(-1, 1);
  /* transform: rotate(180deg); */
}

.slider__arrow--prev {
  left: 70px;
}

.slider__arrow--next {
  left: 540px;
}

.slider__bullet {
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.slider__bullet--active {
  background-color: #000000;
}

.slider__pagination {
  display: flex;
  justify-content: center;
}

.popular__image img {
  vertical-align: bottom;
  margin-top: -17px;
}

.btn-yellow {
  display: inline-block;
  border: none;
  background: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 35px;
  position: relative;
}

.btn-yellow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: var(--color-yellow);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: height 0.3s;
}

.btn-yellow:hover::before {
  height: 100%;
  transition: height 0.3s;
}


/* Категории товаров */

.category {
  margin-top: 70px;
  margin-bottom: 70px;
}

.category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.category__item a {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: 193px;
  position: relative;
}

.category__item a::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: var(--color-yellow);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.category__item--monopod a::before {
  background-image: url("../images/monopod.svg");
  background-position: bottom;
}

.category__item--bracer a::before {
  background-image: url("../images/bracer.svg");
}

.category__item--camera a::before {
  background-image: url("../images/camera.svg");
}

.category__item--quadrocopter a::before {
  background-image: url("../images/quadrocopter.svg");
}

.category__item--vr-glass a::before {
  background-image: url("../images/vr-glass.svg");
}

.category__item--watch a::before {
  background-image: url("../images/watch.svg");
}

.category__item {
  width: 160px;
  margin-right: 40px;
}

.category__item:last-child {
  margin-right: 0;
}


.category__item a:hover::before {
  background-color: #FFC700;
}

.category__item a:active {
  opacity: 0.3;
}

.category__item a:focus {
  outline: 2px solid var(--color-purple);
}
